@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 97.6471%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 20%);
  --primary: hsl(246.9065 74.3316% 63.3333%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210.3704 75.7009% 79.0196%);
  --secondary-foreground: hsl(0 0% 20%);
  --muted: hsl(45.0000 15.6250% 74.9020%);
  --muted-foreground: hsl(0 0% 43.1373%);
  --accent: hsl(72.0000 17.9283% 49.2157%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 83.1373%);
  --input: hsl(0 0% 83.1373%);
  --ring: hsl(246.9065 74.3316% 63.3333%);
  --chart-1: hsl(246.9065 74.3316% 63.3333%);
  --chart-2: hsl(282.2857 43.5685% 47.2549%);
  --chart-3: hsl(274.6154 100% 25.4902%);
  --chart-4: hsl(218.5401 79.1908% 66.0784%);
  --chart-5: hsl(207.2727 44% 49.0196%);
  --sidebar: hsl(0 0% 97.6471%);
  --sidebar-foreground: hsl(0 0% 20%);
  --sidebar-primary: hsl(246.9065 74.3316% 63.3333%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(72.0000 17.9283% 49.2157%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(0 0% 83.1373%);
  --sidebar-ring: hsl(246.9065 74.3316% 63.3333%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(220.0000 14.7541% 11.9608%);
  --foreground: hsl(0 0% 89.8039%);
  --card: hsl(197.1429 6.9307% 19.8039%);
  --card-foreground: hsl(0 0% 89.8039%);
  --popover: hsl(197.1429 6.9307% 19.8039%);
  --popover-foreground: hsl(0 0% 89.8039%);
  --primary: hsl(246.9065 74.3316% 63.3333%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(274.6154 100% 25.4902%);
  --secondary-foreground: hsl(0 0% 89.8039%);
  --muted: hsl(0 0% 26.6667%);
  --muted-foreground: hsl(0 0% 63.9216%);
  --accent: hsl(218.5401 79.1908% 66.0784%);
  --accent-foreground: hsl(0 0% 89.8039%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 26.6667%);
  --input: hsl(0 0% 26.6667%);
  --ring: hsl(246.9065 74.3316% 63.3333%);
  --chart-1: hsl(246.9065 74.3316% 63.3333%);
  --chart-2: hsl(282.2857 43.5685% 47.2549%);
  --chart-3: hsl(274.6154 100% 25.4902%);
  --chart-4: hsl(218.5401 79.1908% 66.0784%);
  --chart-5: hsl(207.2727 44% 49.0196%);
  --sidebar: hsl(220.0000 14.7541% 11.9608%);
  --sidebar-foreground: hsl(0 0% 89.8039%);
  --sidebar-primary: hsl(246.9065 74.3316% 63.3333%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(218.5401 79.1908% 66.0784%);
  --sidebar-accent-foreground: hsl(0 0% 89.8039%);
  --sidebar-border: hsl(0 0% 26.6667%);
  --sidebar-ring: hsl(246.9065 74.3316% 63.3333%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 80px 80px;
    mask-image: radial-gradient(ellipse 75% 75% at center, black 10%, transparent 90%);
    -webkit-mask-image: radial-gradient(ellipse 75% 75% at center, black 10%, transparent 90%);
  }
  
  .dark .grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 80px 80px;
    mask-image: radial-gradient(ellipse 75% 75% at center, black 10%, transparent 90%);
    -webkit-mask-image: radial-gradient(ellipse 75% 75% at center, black 10%, transparent 90%);
  }
}